# editor configurations
CMakePresets.json

# Any possible output binary files
**/out/

# Any hidden files and folders
.*
# Exception: allow .editorconfig, and .gitattributes
!.editorconfig
!.gitattributes

# Local testing environment
debug-testing

# Visual studio config files
**/CMakeSettings.json
